<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ekeon.fakecertification"
          xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-feature android:name="com.android.hardware.camera"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".MainActivity"
              android:theme="@style/Theme.AppCompat.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity android:name=".fakeinsta.RecyclerActivity"
              android:theme="@style/Theme.AppCompat.NoActionBar">
      <intent-filter>
        <action android:name="com.ekeon.fakecertification.RecyclerActivity">
          <category android:name="android.intent.category.DEFAULT"/>
        </action>
      </intent-filter>
    </activity>

  </application>

</manifest>
